* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 25% auto 25%;
}

main {
  grid-column: 2;
  padding: 20px;
}

header,
footer {
  color: #fff;
  grid-column: 1 / -1;
  background: rgb(123, 52, 255);
  padding: 20px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}

form {
  font-size: 0.8rem;
  margin-left: 5rem;
}

form label {
  margin-right: 0.5rem;
}

form input {
  padding: 0.25rem;
  border-radius: 3px;
  border: none;
}

form input:focus {
  color: rgb(123, 52, 255);
  outline-color: rgb(123, 52, 255);
}

button {
  color: #fff;
  background-color: rgb(123, 52, 255);
  border: 1px solid #fff;
  padding: 0.25rem;
  margin-left: 1rem;
  border-radius: 3px;
}

button:hover {
  color: rgb(123, 52, 255);
  background-color: #fff;
  border: 1px solid #fff;
}

main {
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.personal-greeting {
  margin-bottom: 1rem;
  font-weight: bold;
  color: rgb(145, 108, 214);
}

img {
  border-radius: 4px;
}

footer p {
  text-align: center;
}
